
# Terraform files
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate.backup
terraform.tfstate
plan.out
30_pk_tf

# Python files
Pipfile
__pycache__
.mypy_cache

# Build artifacts
agent
id_rsa

.vscode
.DS_Store
terraform.tfvars
packer_vars.pkr.hcl
.localenv
.tfvars
packer_build.out
dynamic_config.pkr.hcl
packer_builds.pkr.hcl
terraform.auto.tfvars
secure_base_os.pkr.hcl